<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.mybatisplus.test.mysql.mapper.UserMapperPlus">

    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <resultMap type="UserPlus" id="userMap">
        <id column="test_id" property="id"/>
    </resultMap>

    <select id="selectAll" resultType="UserPlus" resultMap="userMap">
        select * from user_plus
        <!--select user_name as userName, test_type as testType, age from user_plus-->
    </select>

</mapper>